In [1]:
import pandas as pd
from pandas import DataFrame

In [3]:
df = pd.read_csv('world_alcohol - world_alcohol.csv')
print(df.head())

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98
        WHO region                Country Beverage Types  Display Value
0  Western Pacific               Viet Nam           Wine           0.00
1         Americas                Uruguay          Other           0.50
2           Africa           Cte d'Ivoire           Wine           1.62
3         Americas               Colombia           Beer           4.27
4         Americas  Saint Kitts and Nevis           Beer           1.98
5         Americas              Guatemala          Other           0.00
6           Africa              Mauritius           Wine           0.13
7           Africa                 Angola        Spirits           0.39
8         Americas    Antigua and Barbuda        Spirits           1.55
9           Africa                Nigeria          Other           6.10

In [7]:
df.iloc[:, 1:5]

,WHO region,Country,Beverage Types,Display Value
0,Western Pacific,Viet Nam,Wine,0.00
1,Americas,Uruguay,Other,0.50
2,Africa,Cte d'Ivoire,Wine,1.62
3,Americas,Colombia,Beer,4.27
4,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...
95,Africa,Niger,Other,0.00
96,Europe,Luxembourg,Wine,7.38
97,South-East Asia,Indonesia,Wine,0.00
98,Africa,Equatorial Guinea,Wine,0.00
99,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [8]:
selected_columns.iloc[0:10]

        WHO region                Country Beverage Types  Display Value
0  Western Pacific               Viet Nam           Wine           0.00
1         Americas                Uruguay          Other           0.50
2           Africa           Cte d'Ivoire           Wine           1.62
3         Americas               Colombia           Beer           4.27
4         Americas  Saint Kitts and Nevis           Beer           1.98
5         Americas              Guatemala          Other           0.00
6           Africa              Mauritius           Wine           0.13
7           Africa                 Angola        Spirits           0.39
8         Americas    Antigua and Barbuda        Spirits           1.55
9           Africa                Nigeria          Other           6.10